:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

body{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.qu-logo {
    width: 15em;
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;

    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
}

nav div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links{
    display: flex;
    justify-content: center;
}

.links a{
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    margin-left: 1em;
}

main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
}

#top-bar {
    padding: 20px;
    background-color:aliceblue;
}

#top-img {
    border-radius: 1.5em;
    margin-right: 1em;
    height: 23em;
}

#lgn-btn {
    padding: 2.0rem;
    text-align: center;
    font-size: large;
    border-radius: 1em;
    border: none;
    height: 100px;
    width: 150px;
    cursor: pointer;
    background-color: rgb(164, 163, 163);
}

#lgn-btn:hover {
    padding: 2.0rem;
    text-align: center;
    font-size: large;
    border-radius: 1em;
    border: none;
    height: 100px;
    width: 150px;
    cursor: pointer;
    background-color: rgb(143, 141, 141);
}

#lgn-btn:active {
    padding: 2.0rem;
    text-align: center;
    font-size: large;
    border-radius: 1em;
    border: none;
    height: 100px;
    width: 150px;
    cursor: pointer;
    background-color: rgb(126, 125, 125);
}

section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

section div {
    display: flex;
    justify-content: space-between;

}

.btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hist-mission {
    width: 55em;
    display: flex;
}

.hist, .mission {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-video {
    border-radius: 0.8em;
}

.links {
    list-style-type: none;
    display: flex;
    gap: 2px;
}

.links img {
    width: 25px;
}

.info{
    display: flex;
    flex-direction: column;
}
.contact{
    gap: 20px;
}

/* Small screen size */
@media screen and (max-width: 760px){
    
    #top-bar {
        display: flex;
        flex-direction: column;
        gap: 2em;
    }

    #top-img {
        border-radius: 1.5em;
        /* margin-right: 1em; */
        height: 15em;
    }

    #about {
        display: flex;
        flex-direction: column;
    }
    
    .hist-mission {
        display: flex;
        flex-direction: column;
    }

    footer {
        display: flex;
        flex-direction: column;
    }

}

.choose-lang {
    color: black !important;
    text-decoration: none !important;
}

.slider {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide {
    width: 100%;
    display: none;
    height: 40em;
}


.displaySlide {
    display: block;
    
}

.slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background-color: hsla(0, 0%, 0%, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 0.3em;
}

.slider button:hover {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background-color: hsla(0, 4%, 17%, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 0.3em;
}

.slider button:active {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background-color: hsla(0, 0%, 0%, 0.753);
    color: white;
    border: none;
    cursor: pointer;
    padding: 0.3em;
}

/* to align it to the left */
.prev {
    left: 0;
}

/* to align it to the right */
.next {
    right: 0;
}
