:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

body{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.qu-logo {
    width: 15em;
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;

    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
}

nav div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links{
    display: flex;
    justify-content: center;
}

.links a{
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    margin-left: 1em;
}

main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
}

#top-bar{
    padding: 20px;
    background-color:aliceblue;
}

#top-img {
    border-radius: 1.5em;
    margin-right: 1em;
    height: 23em;
}

#lgn-btn{
    padding: 2.0rem;
    text-align: center;
    font-size: large;
    border-radius: 1em;
    border: none;
    height: 100px;
    width: 150px;
}

section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

section div{
    display: flex;
    justify-content: space-between;

}

.btns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hist-mission {
    width: 55em;
}

.intro-video {
    border-radius: 0.8em;
}

.links {
    list-style-type: none;
    display: flex;
    gap: 2px;
}

.links img {
    width: 25px;
}

.info{
    display: flex;
    flex-direction: column;
}
.contact{
    gap: 20px;
}

@media screen and (max-width: 760px){
    
    

}