:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100vh;
}

.qu-logo {
    width: 15em;
    height: 4em;
}

.navbar p {
    display: inline;
    text-decoration: none;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    margin-left: 1em;
}

#first {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3em;
}

#second {
    display: flex;
    justify-content: flex-start;
    gap: 45em;
    margin-bottom: 3em;
    align-items: center;
}

#third {
    margin-bottom: 3em;
    background-color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.qu-header {
    border-radius: 1.5em;
    margin-right: 1em;
    height: 23em;
}

.reg-btn {
    justify-content: center;
    padding: 1.7em;
    text-align: center;
    align-content: center;
    font-size: large;
    border-radius: 1em;
    border: none;
    margin-left: 8em;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hist-mission {
    width: 55em;
}

.intro-video {
    border-radius: 0.8em;
}

.container-footer {
    display: flex;
    flex-direction: column;
}

.devider {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    list-style-type: none;
    display: flex;
}

.links img {
    width: 1.8em;
    height: 1.8em;
    gap: 0.5em;
}

.links li {
    margin-left: 0.7em;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 760px){
    
    

}