:root {
  --primary-color: #781C38; /* Dark Maroon (Logo Text & Elements) */
  --secondary-color: #A02C50; /* Lighter Maroon (Highlights) */
  --accent-color: #C05060; /* Soft Pinkish Maroon */
  --background-color: #F5F5F5; /* Light Gray */
  --text-color: #333333; /* Dark Gray for readability */
  --border-color: #CCCCCC; /* Subtle Border Color */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*{
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
}

html{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
}

.qu-logo {
    width: 15em;
}

header{
    background-color: var(--background-color);
    padding: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.btns a {
  display: inline-block;
  padding: 0.8em 1.2em;
  background-color: var(--background-color);
  color: var(--text-color);
  border-radius: 0.5em;
  border-color: var(--border-color);
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-weight: 500;
}


nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;

    text-decoration: none;
    gap: 30px;
}

.user-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.user-info {
  display: inline-flex;
  align-items: center;
  gap: 0.8em;
  background-color: white;
  padding: 0.5em 1em;
  margin-right: 30px;
  border-radius: 0.75em;
  font-weight: 500;
  font-size: 1em;
  color: var(--primary-color);
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}


body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    gap: 2em;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.background {
    background-color: var(--primary-color);
    border-radius: 2.5em;
    padding: 3em 3em 2em 2em;
    gap: 2em;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    width: 65%;
}

.welcome {
    text-align: center;
    color: var(--color-text);
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
}

#email, #password {
    background-color: var(--background-color);
    width: 100%;
    height: 2.5rem;
    padding: 5px;
    max-width: 100%;
    border-radius: 0.9em;
    border: none;
}

#login {
    width: 80%;
    height: 2.5rem;
    border-radius: 1em;
    border: none;
    margin-top: 2em;
    font-weight: bold;
    background-color: var(--secondary-color);
}

#login:hover {
    cursor: pointer;
    background-color: var(--accent-color);
}


#qu {
    width: 50%;
    border-radius: 2em;
    justify-self: flex-start;
}

@media screen and (max-width: 768px) { 

    .background {
        background-color: var(--color-bg);
        border-radius: 2.5em;
        padding: 3em 3em 2em 2em;
        gap: 2em;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        align-content: center;
        width: 65%;
    }

    #form{
        width: 100%;
    }

    #qu {
        height:25%;
        max-height: 50%;
        border-radius: 2em;
        align-self: center;
        justify-self: center;
    }

    .inputs {
        display: flex;
        flex-direction: column;
        gap: 2em;
        margin-top: 2em;
        margin-bottom: 2em;
        align-items: center;
        justify-content: center;
        width: 75%;
    }


}